# CUSTOMIZATIONS BELONG IN $data-dir/etc/nexus.properties
# file: {{ nexus_data }}/etc/nexus.properties

# jetty settings
application-host={{ nexus_listen_address }}
application-port={{ nexus_listen_port }}
